.background{
    background-image: url("/src/assets/loginView/background.png");
    opacity: 0.8;
    height: calc(100vh - 66px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}