.main{
    height: calc(100vh - 70px);
    margin-top: 4px;
}

.menu_sider{
    margin-right: 1px;
    box-shadow: 2px 0 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(8px);
}

.menu_div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

