.context_body{
    margin-top: 1px;
    min-height: 280px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.title{
    padding: 0 5px 0 5px;
    color: #4d4c4c;
    font-size: 13px;
    font-weight: bold;
}