.header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 66px;
    z-index: 1000;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(8px);
    /*margin-bottom: 10px;*/
}

.row_area{
    height: 70px;
    display: flex;
    flex-direction: row;
}

.logo_area{
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: "Apple Braille";
    color: #414040;
}

.logo{
    margin: 3px;

}

.logo_text{
    margin: 3px;
    padding: 0px 5px 0px 5px;
}