.card_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 870px;
    height: 480px;
    background-color: #ffff;
    border-radius: 10px;
}

.left_item{
    width: 300px;
    margin: 10px;
}

.right_item{
    width: 410px;
    margin: 10px 30px 10px 50px;
}

.people{
    width: 300px;
    height: 270px;
}

.divider{
    height: 250px;
}

.login-form {
    max-width: 350px;
}

.login-form-forgot {
    float: right;
    margin: 0px 5px 0px 5px;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.short_input{
    width: 55%;
}

.quick_login_place{
    margin: 5px;
    display: flex;
    justify-content: center ;
}

.quick_logo{
    width: 24px;
    height: 24px;
    margin: 5px 20px 5px 20px;
}

